@import url(http://fonts.googleapis.com/css?family=Lato:300);
body {
  background: #ccc;
  font-family: Lato, sans-serif;
  font-weight: 300; }

a {
  color: #000; }
  a:hover {
    text-decoration: none; }

#calendar {
  width: 490px; }
  #calendar h2 {
    line-height: 170px;
    margin: 0;
    font-weight: 300;
    color: #fff;
    background: #4f93c8;
    text-align: center; }
  #calendar table {
    width: 100%;
    margin-top: -42px;
    border-collapse: collapse; }
  #calendar .week-days {
    color: #fff; }
  #calendar .day {
    width: 70px;
    height: 40px;
    text-align: center; }
  #calendar .week .day {
    background: #eee; }
  #calendar .other-month {
    opacity: 0.5; }
